jupyternotebook/.ipynb_checkpoints
matplotlib/.ipynb_checkpoints
numpy/.ipynb_checkpoints
opencv/.ipynb_checkpoints
python/.ipynb_checkpoints
pandas/.ipynb_checkpoints
pyqt5/.ipynb_checkpoints
pytorch/.ipynb_checkpoints
